<h1> MCQ Portal</h1>

<div *ngIf="viewFlag === false">
    <div class="card m-3">
        <h3 class="card-header">{{question}}</h3>
        <div class="card-body">

           
            <!-- <button class="btn btn-secondary" (click)="onConfirm();">Confirm</button> -->
            <form (ngSubmit)="onSubmit()">
                <div class="form-group form-check">
                    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms"
                        [checked]="tempa == 1 ? '' : null" class="form-check-input" (change)="onChange(opt1 , 'A' )" />
                    <label for="acceptTerms" class="form-check-label">{{opt1}}</label>
                    <br>
                    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms"
                        [checked]="tempb == 1 ? '' : null" class="form-check-input" (change)="onChange(opt2 , 'B' )" />
                    <label for="acceptTerms" class="form-check-label">{{opt2}}</label>
                    <br>
                    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms"
                        [checked]="tempc == 1 ? '' : null" class="form-check-input" (change)="onChange(opt3 , 'C' )" />
                    <label for="acceptTerms" class="form-check-label">{{opt3}}</label>
                    <br>
                    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms"
                        [checked]="tempd == 1 ? '' : null" class="form-check-input" (change)="onChange(opt4 , 'D' )" />
                    <label for="acceptTerms" class="form-check-label">{{opt4}}</label>
                    <br>
                    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms"
                        [checked]="tempe == 1 ? '' : null" class="form-check-input" (change)="onChange(opt5 , 'E' )" />
                    <label for="acceptTerms" class="form-check-label">{{opt5}}</label>
                    <br>
                </div>
            </form>
            <div style="margin-top: 30px;">
                <button class="btn btn-outline-primary mr-2" (click)="onNext();">Next</button>
                <button class="btn btn-outline-warning mr-1" (click)="onRefresh();" style="margin-left: 30px;">Refresh</button>
                <button class="btn btn-primary mr-1" (click)="onSubmit()" style="margin-left: 30px;">Submit</button>
            </div>
        </div>
    </div>


</div>


<div *ngIf="viewFlag === true">

    <div *ngFor = "let items of lst ">
        <ul class="list-group">
            <li class="list-group-item active">{{items[0]}}</li>
            <li class="list-group-item">{{items[1]}}</li>
            <li class="list-group-item">{{items[2]}}</li>
            <li class="list-group-item">{{items[3]}}</li>
            <li class="list-group-item">{{items[4]}}</li>
            <li class="list-group-item">{{items[5]}}</li>
            <li class="list-group-item" 
            [ngStyle]="changeBackground(items[9])"
            style="font-weight: bold;">
            Result ::: {{items[6]}}</li>
            <li class="list-group-item" style="background-color: rgb(200, 240, 240);">Correct Answer : {{items[7]}}</li>
            <li class="list-group-item" style="background-color: rgb(240, 200, 237);">Your Answer : {{items[8]}}</li>
          </ul>
    </div>

</div>