<div style="text-align: center;color: violet;">
  <h1>SAP</h1>
</div>
<div style="margin-top: 5%;font-family: Georgia, 'Times New Roman', Times, serif;color: white;">
  <marquee behavior="" direction=""><h1>SAP Certification MCQ practice Portal For M D...</h1></marquee>
  
</div>

<div class="container-fluid" >
  <div class="row" style="margin-top: 5%;margin-left: 20%;">
    
    <div class="card" style="width: 18rem;background-color: #28FFBF;">
      <a routerLink = '/sappgdm'>
      <div class="card-body" style="text-align: center;margin-top:30%">
        <h3 class="card-title">SAP-PGDM-MCQ</h3> 
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>-->
        <!-- <a href="#" class="card-link">Another link</a>  -->
      </div>
    </a>
    </div>
  
  
    <div class="card" style="width: 18rem;margin-left: 5px;background-color: #F7FD04;">
      <a routerLink = '/sapec1'>
      <div class="card-body" style="text-align: center;margin-top:30%">
        <h3 class="card-title">SAP-EC-MCQ-PART-1</h3>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
      </div>
    </a>
    </div>
  
    <div class="card" style="width: 18rem;margin-left: 5px;background-color: #54E346;">
      <a routerLink = '/sapec1'>
      <div class="card-body" style="text-align: center;margin-top:30%">
        <h3 class="card-title">SAP-EC-MCQ-PART-2</h3>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
      </div>
    </a>
    </div>

  </div>
  

</div>
